body {
  /* margin: 0; */
}

.container {
  min-height: 95vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 150px 1fr 5rem;
  /* gap: 1em .5em; */
  /* grid-auto-columns: 200px; */
  /* grid-auto-rows: 200px; */
  /* justify-items: start; */
  /* align-items: start; */
  /* place-items: center; */
  /* justify-content: center; */
  /* align-content: center; */
  place-content: center;
}

.item {
  /* background-color: aquamarine; */
}

img {
  /* min-width: 100%; */
}

.item-3 {
  /* grid-row: 2 / 4; */
  /* grid-column: 1 / 5; */
  /* justify-self: end; */
  /* align-self: center; */
  place-self: center;
}
